<div class="toolPaneTemplateCon">

    <div class="header">
        <h2>Shapes</h2>
    </div>

    <div id="cm_toolPaneBody" class="body shapesToolBody">
        <button shape-btn="rectangle">
            <div class="rectShape"></div>
            <div class="inner">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15"><path d="M14 5.9H9V1a1 1 0 00-1-1.1H7a1 1 0 00-1.1 1V6H1a1 1 0 00-1.1 1V8a1 1 0 001 1.1H6V14a1 1 0 001 1.1H8a1 1 0 001.1-1V9H14a1 1 0 001.1-1V7a1 1 0 00-1-1.1z" fill="#fff"/></svg>
                Add Rectangle
            </div>
        </button>
        <button shape-btn="circle">
            <div class="circleShape"></div>
            <div class="inner">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15"><path d="M14 5.9H9V1a1 1 0 00-1-1.1H7a1 1 0 00-1.1 1V6H1a1 1 0 00-1.1 1V8a1 1 0 001 1.1H6V14a1 1 0 001 1.1H8a1 1 0 001.1-1V9H14a1 1 0 001.1-1V7a1 1 0 00-1-1.1z" fill="#fff"/></svg>
                Add Cirlce
            </div>
        </button>
        <button shape-btn="triangle">
            <div class="triangleShape"></div>
            <div class="inner">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15"><path d="M14 5.9H9V1a1 1 0 00-1-1.1H7a1 1 0 00-1.1 1V6H1a1 1 0 00-1.1 1V8a1 1 0 001 1.1H6V14a1 1 0 001 1.1H8a1 1 0 001.1-1V9H14a1 1 0 001.1-1V7a1 1 0 00-1-1.1z" fill="#fff"/></svg>
                Add Triangle
            </div>
        </button>
    </div>

</div>