<div class="toolPaneTemplateCon">
    
    <div class="header">
        <h2>Templates</h2>
        <div class="nav">
            <button class="active" related-body="cm_popularTemplates">popular</button>
            <button related-body="cm_genreTemplates">genres</button>
            <button related-body="cm_themesTemplates">themes</button>
        </div>
    </div>

    <div id="cm_toolPaneBody" class="body">
        
        <!-- Popular -->
        <div id="cm_popularTemplates" class="templatesInner inner active">
            
        </div>
        <!-- Genres -->
        <div id="cm_genreTemplates" class="templatesInner inner">
            
        </div>
        <!-- Themes -->
        <div id="cm_themesTemplates" class="templatesInner inner">
           
        </div>

    </div>

</div>