$background: #FFFFFF;

$accent1: #762CF8;
$accent2: #1BB855;

$error: #E94151;

$artboard-background: #EAEEF0;
// Nav
$nav-background-1: #181024;
$nav-background-2: #2F2739;
$nav-button: #282237;
$nav-button-color: #818899;

$tool-pane-btn-background: #463C52;

$topbar-background: #D9DFE2;